# URL API Backend trên Render (Ví dụ: https://swp391-backend.onrender.com)
# Khi chạy local thì để trống hoặc không điền để Vite dùng Proxy localhost
VITE_API_URL=https://your-backend-app.onrender.com
